<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes du patient</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
</head>
<body class="container mt-4">
<div class="col-6">
    <a th:href="@{/home}">MédiLabo Solutions</a>
</div>
<div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>

<h2 th:text="'Notes pour ' + ${patientWithNotesDTO.patientDTO.firstName} + ' ' + ${patientWithNotesDTO.patientDTO.lastName}"></h2>

<div>
    <p><strong>Âge :</strong> [[${diabetes.age}]] ans</p>
    <p><strong>Risque de diabète :</strong> [[${diabetes.riskLevel}]]</p>
</div>

<form th:action="@{/patient/notes/create/{id}(id=${patientWithNotesDTO.patientDTO.id})}" method="post" class="mb-4">

    <input type="hidden" name="patientId" th:value="${patientWithNotesDTO.patientDTO.id}"/>

    <div class="mb-3">
        <label for="note" class="form-label">Nouvelle note</label>
        <textarea class="form-control" id="note" name="note" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter la note</button>
</form>

<h4>Historique des notes</h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Contenu</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${patientWithNotesDTO.notes}">
        <td th:text="${note.note}"></td>
        <td th:text="${#temporals.format(note.dateOfVisit, 'dd/MM/yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>